<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <!--<button mat-icon-button [matMenuTriggerFor]="menu">-->
        <!--<mat-icon>more_vert</mat-icon>-->
      <!--</button>-->
      <!--<mat-menu #menu="matMenu">-->
        <!--<nav>-->
          <!--<ul>-->
            <!--<li>-->
              <!--<a id="logo" href="/" rel="home" mat-menu-item>Домашняя страница</a>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</nav>-->
      <!--</mat-menu>-->
      <div class="contacts">
        <!--<mat-icon class="callIcon">call</mat-icon>-->
        <a href="tel:+375293600177" class="call"><span>+375 29 360-01-77</span></a>
        <a href="mailto:info@nkmotors.by">info@nkmotors.by</a>
      </div>

      <div class="timeOfWorks">
        <span>Пн-Пт: 09:00 - 19:00</span>
        <span>Сб: 10:00 - 18:00</span>
      </div>
    </mat-toolbar-row>

  </mat-toolbar>
</header>


