<app-header></app-header>
<main>
  <h1>Качественный ремонт автомобилей</h1>
  <h2>город Минск, Партизанский район, улица Захарова 104</h2>
  <p>Автосервис НК Моторс производит ремонт и обслуживание легковых автомобилей и микроавтобусов.
    Отличительной особенностью станции является индивидуальный подход и гибкая стоимость работ. Наша СТО имеет необходимые сертификаты и предоставляет гарантию в соответствии с законодательством РБ.
    Предоставляем услуги подбора и заказа оригинальных и неоригинальных запчастей из США, РФ, Европы, Японии. Приглашаем к сотрудничеству юрлица и организации.</p>

</main>

<app-googlemap></app-googlemap>

<app-reviews></app-reviews>



